* {
  min-height: 0;
  min-width: 0;
  font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

:root {
  color-scheme: dark light;
}

body {
  background-color: rgb(23,23,23);
}