/* *******************************  RESET ***************************** */
* {
  min-height: 0;
  min-width: 0;
  font: inherit;

  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul {
  list-style: none;
}

/* *******************************  RESET ***************************** */

:root {
  color-scheme: dark light;
}

body {
  background-color: rgb(23, 23, 23);
}

.action-body li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-block: .8rem;
  /* border-bottom: 1px solid rgb(23, 23, 23); */
  color: #6b6f76;
  font-size: .95rem;
}

.action-body li:hover {
  background-color: rgb(236 238 244);
}

.action-name {
  text-align: start;
  flex-grow: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.action-icon {
  padding-inline-end: 1rem;
  flex-shrink: 0;
}

img.action-icon {
  max-width: 1.3rem;
  max-height: 1.3rem;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #fff inset;
  color: #333;
  display: inline-block;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: 2px 4px;
  white-space: nowrap;
}

.action-hotkey {
  margin-inline-start: 1rem;
  flex-shrink: 0;
}